## Import Libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

! pip install BeautifulSoup4
from bs4 import BeautifulSoup

print('Libraries imported.')

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.0

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.8.0

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (1.9.5)
Libraries imported.

## Scraping Data from Wiki

In [2]:
import pandas as pd
import wikipedia as wp
 
#Get the html source
html = wp.page("Asian population of London").html().encode("UTF-8")
London_df = pd.read_html(html)[4]
London_df.head()

,Rank,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population
0,1,Newham,42484,30307,37262,3930,19912,133895
1,2,Redbridge,45660,31051,16011,3000,20781,116503
2,3,Brent,58017,14381,1749,3250,28589,105986
3,4,Tower Hamlets,6787,2442,81377,8109,5786,104501
4,5,Harrow,63051,7797,1378,2629,26953,101808

## Add Coordinates

In [27]:
borough_df = pd.DataFrame( data = {

'London Borough' : ['Newham', 'Redbridge', 'Brent', 'Tower Hamlets', 'Harrow',
                'Ealing', 'Hounslow', 'Hillingdon', 'Barnet', 'Croydon', 'Waltham Forest',
                'Merton', 'Camden', 'Enfield', 'Wandsworth', 'Westminster', 'Greenwich',
                'Barking and Dagenham', 'Southwark', 'Kingston Upon Thames'],
'Latitude' : ['51.5255','51.5901','51.5673','51.5203','51.5806','51.5131','51.4609','51.5352','51.6251','51.3762','51.5886',
             '51.4098','51.5517','51.6636','51.4571','51.4975','51.4934','51.5465','51.4834','51.4123'],
'Longitude' : ['0.0352','0.0819','-0.2711','-0.0293','-0.3420','-0.3256','-0.3731','-0.4481','-0.1529','-0.0982','-0.0118',
              '-0.2108','-0.1588','-0.1043','-0.1818','-0.1357','0.0098','0.1293','-0.0821','-0.3007']})

borough_df.head()

  London Borough Latitude Longitude
0         Newham  51.5255    0.0352
1      Redbridge  51.5901    0.0819
2          Brent  51.5673   -0.2711
3  Tower Hamlets  51.5203   -0.0293
4         Harrow  51.5806   -0.3420

In [4]:
borough_df['Latitude'] = borough_df['Latitude'].astype('float', errors = 'ignore')
borough_df['Longitude'] = borough_df['Longitude'].astype('float', errors = 'ignore')
borough_df.dtypes

Borough       object
Latitude     float64
Longitude    float64
dtype: object

In [5]:
address = 'London, UK'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of London are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of London are 51.5073219, -0.1276474.

In [6]:
#Create map
London_map = folium.Map(location=[latitude, longitude], zoom_start=10)

#Add markers to map
for lat, lng, borough in zip(borough_df['Latitude'], borough_df['Longitude'], borough_df['Borough']):
    label = '{}'.format(borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(London_map)  
    
London_map

## Explore Data with Foursquare

In [7]:
#Define Foursquare credentials
CLIENT_ID = '0IITJSNBXNENNQMBOIQCU3KACL1J2UYHUVAFHXG2TWYNR4FQ'
CLIENT_SECRET = 'JGLKTYNVRNGY5OP0Q22AYJJKU3HT5BKYOXLKHHDSUBH3CWMZ'
VERSION = '20180605' 

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 0IITJSNBXNENNQMBOIQCU3KACL1J2UYHUVAFHXG2TWYNR4FQ
CLIENT_SECRET:JGLKTYNVRNGY5OP0Q22AYJJKU3HT5BKYOXLKHHDSUBH3CWMZ

In [8]:
#Get first borough
borough_df.loc[0, 'Borough']

'Newham'

In [9]:
#First borough coordinates
borough_latitude = borough_df.loc[0, 'Latitude'] # borough latitude value
borough_longitude = borough_df.loc[0, 'Longitude'] # borough longitude value

borough_name = borough_df.loc[0, 'Borough'] # borough name

print('Latitude and longitude values of {} are {}, {}.'.format(borough_name, 
                                                               borough_latitude, 
                                                               borough_longitude))

Latitude and longitude values of Newham are 51.5255, 0.0352.

In [10]:
#Top 100 venues nearby
LIMIT= 100
radius = 500
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    borough_latitude, 
    borough_longitude, 
    radius, 
    LIMIT)

results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5e12297947e0d6001b5a637c'},
 'response': {'headerLocation': 'Newham',
  'headerFullLocation': 'Newham, London',
  'headerLocationGranularity': 'neighborhood',
  'totalResults': 7,
  'suggestedBounds': {'ne': {'lat': 51.5300000045, 'lng': 0.04241929604043637},
   'sw': {'lat': 51.5209999955, 'lng': 0.027980703959563636}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e7b2628887783148edecd7d',
       'name': 'Delicious Café',
       'location': {'address': '566 Barking Road',
        'lat': 51.526416732217484,
        'lng': 0.030133265936175827,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.526416732217484,
          'lng': 0.030133265936175827}],
        'distance': 365,
        'postalCode': 'E13 9JU',
        'cc': 'GB',
        'country': 'United Kingdom',
        'formattedAddress': ['566 Barking Road', 'E13 9JU', 'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e7b2628887783148edecd7d-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '537bc0ac498e79a3c4ccc09f',
       'name': 'Tesco Express',
       'location': {'address': '21 Holborn Road',
        'lat': 51.52718707308297,
        'lng': 0.03511813644821545,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.52718707308297,
          'lng': 0.03511813644821545}],
        'distance': 187,
        'postalCode': 'E13 8PH',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['21 Holborn Road',
         'London',
         'Greater London',
         'E13 8PH',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d118951735',
         'name': 'Grocery Store',
         'pluralName': 'Grocery Stores',
         'shortName': 'Grocery Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-537bc0ac498e79a3c4ccc09f-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4fdc6090e4b05c4e3aeb5e3d',
       'name': 'Deep Blue Sea Fish & Chips',
       'location': {'address': '205 Boundary Road',
        'lat': 51.52509738659044,
        'lng': 0.03941006976500242,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.52509738659044,
          'lng': 0.03941006976500242}],
        'distance': 295,
        'postalCode': 'E13 9QF',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['205 Boundary Road',
         'London',
         'Greater London',
         'E13 9QF',
         'United Kingdom']},
       'categories': [{'id': '4edd64a0c7ddd24ca188df1a',
         'name': 'Fish & Chips Shop',
         'pluralName': 'Fish & Chips Shops',
         'shortName': 'Fish & Chips',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fishandchips_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4fdc6090e4b05c4e3aeb5e3d-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '57325624498e632d0de25eb4',
       'name': 'West Ham Food Centre',
       'location': {'lat': 51.527451,
        'lng': 0.031644,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.527451,
          'lng': 0.031644}],
        'distance': 328,
        'cc': 'GB',
        'country': 'United Kingdom',
        'formattedAddress': ['United Kingdom']},
       'categories': [{'id': '4d954b0ea243a5684a65b473',
         'name': 'Convenience Store',
         'pluralName': 'Convenience Stores',
         'shortName': 'Convenience Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/conveniencestore_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-57325624498e632d0de25eb4-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4e553b1845dd5c591f541745',
       'name': "Ginny's Pie and Mash",
       'location': {'address': '538A Barking Rd',
        'lat': 51.525705255595824,
        'lng': 0.02953207882634001,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.525705255595824,
          'lng': 0.02953207882634001}],
        'distance': 393,
        'postalCode': 'E13 8QE',
        'cc': 'GB',
        'city': 'East Ham',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['538A Barking Rd',
         'East Ham',
         'Greater London',
         'E13 8QE',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4e553b1845dd5c591f541745-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4fe0ca25e4b0c8b10da55bc7',
       'name': 'Brampton Park',
       'location': {'address': 'Londsdale Ave.',
        'crossStreet': 'Brampton Rd.',
        'lat': 51.52419897953959,
        'lng': 0.041201838280407355,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.52419897953959,
          'lng': 0.041201838280407355}],
        'distance': 440,
        'postalCode': 'E6',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['Londsdale Ave. (Brampton Rd.)',
         'London',
         'Greater London',
         'E6',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4fe0ca25e4b0c8b10da55bc7-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5183a383498ee7b9140b916f',
       'name': 'Tesco Express',
       'location': {'address': '523 Barking Road',
        'lat': 51.5262225046359,
        'lng': 0.029293502515865925,
        'labeledLatLngs': [{'label': 'display',
          'lat': 51.5262225046359,
          'lng': 0.029293502515865925}],
        'distance': 416,
        'postalCode': 'E13 9EZ',
        'cc': 'GB',
        'city': 'London',
        'state': 'Greater London',
        'country': 'United Kingdom',
        'formattedAddress': ['523 Barking Road',
         'London',
         'Greater London',
         'E13 9EZ',
         'United Kingdom']},
       'categories': [{'id': '4bf58dd8d48988d118951735',
         'name': 'Grocery Store',
         'pluralName': 'Grocery Stores',
         'shortName': 'Grocery Store',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5183a383498ee7b9140b916f-6'}]}]}}

In [11]:
#Extract category of venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']
    
#Clean data
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                         name         categories        lat       lng
0              Delicious Café               Café  51.526417  0.030133
1               Tesco Express      Grocery Store  51.527187  0.035118
2  Deep Blue Sea Fish & Chips  Fish & Chips Shop  51.525097  0.039410
3        West Ham Food Centre  Convenience Store  51.527451  0.031644
4        Ginny's Pie and Mash               Café  51.525705  0.029532

In [12]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

7 venues were returned by Foursquare.

### Explore boroughs in London

In [13]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Borough', 
                  'Borough Latitude', 
                  'Borough Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [14]:
London_venues = getNearbyVenues(names= borough_df['Borough'],
                                   latitudes= borough_df['Latitude'],
                                   longitudes= borough_df['Longitude']
                                  )

Newham
Redbridge
Brent
Tower Hamlets
Harrow
Ealing
Hounslow
Hillingdon
Barnet
Croydon
Waltham Forest
Merton
Camden
Enfield
Wandsworth
Westminster
Greenwich
Barking and Dagenham
Southwark
Kingston Upon Thames

In [15]:
print(London_venues.shape)
London_venues.head()

(409, 7)

,Borough,Borough Latitude,Borough Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Newham,51.5255,0.0352,Delicious Café,51.526417,0.030133,Café
1,Newham,51.5255,0.0352,Tesco Express,51.527187,0.035118,Grocery Store
2,Newham,51.5255,0.0352,Deep Blue Sea Fish & Chips,51.525097,0.039410,Fish & Chips Shop
3,Newham,51.5255,0.0352,West Ham Food Centre,51.527451,0.031644,Convenience Store
4,Newham,51.5255,0.0352,Ginny's Pie and Mash,51.525705,0.029532,Café

In [16]:
London_venues.groupby('Borough').count()

,Borough Latitude,Borough Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Borough,,,,,,
Barking and Dagenham,4,4,4,4,4,4
Barnet,3,3,3,3,3,3
Brent,7,7,7,7,7,7
Camden,27,27,27,27,27,27
Croydon,58,58,58,58,58,58
Ealing,25,25,25,25,25,25
Enfield,5,5,5,5,5,5
Greenwich,22,22,22,22,22,22
Harrow,31,31,31,31,31,31
Hillingdon,5,5,5,5,5,5
Hounslow,6,6,6,6,6,6
Kingston Upon Thames,80,80,80,80,80,80
Merton,13,13,13,13,13,13
Newham,7,7,7,7,7,7
Redbridge,16,16,16,16,16,16
Southwark,6,6,6,6,6,6
Tower Hamlets,10,10,10,10,10,10
Waltham Forest,15,15,15,15,15,15
Wandsworth,14,14,14,14,14,14
Westminster,55,55,55,55,55,55

### Analyse each Borough

In [17]:
#One hot encoding
london_onehot = pd.get_dummies(London_venues[['Venue Category']], prefix="", prefix_sep="")

#Add borough column back to dataframe
london_onehot['Borough'] = London_venues['Borough'] 

#Move borough column to the first column
fixed_columns = [london_onehot.columns[-1]] + list(london_onehot.columns[:-1])
london_onehot = london_onehot[fixed_columns]

print(london_onehot.shape)
london_onehot.head()

(409, 123)

,Borough,American Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Auto Garage,Auto Workshop,Bagel Shop,Bakery,Bar,Beer Bar,Bookstore,Breakfast Spot,Brewery,Building,Burger Joint,Burrito Place,Bus Station,Bus Stop,Café,Canal Lock,Caribbean Restaurant,Chinese Restaurant,Chocolate Shop,Clothing Store,Cocktail Bar,Coffee Shop,Concert Hall,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dessert Shop,Diner,Doner Restaurant,Donut Shop,Electronics Store,Falafel Restaurant,Farmers Market,Fast Food Restaurant,Field,Fish & Chips Shop,Fish Market,Food & Drink Shop,Food Court,Food Truck,French Restaurant,Furniture / Home Store,Gastropub,Gift Shop,Go Kart Track,Greek Restaurant,Grocery Store,Gym,Gym / Fitness Center,Health Food Store,Hotel,Hotel Bar,Ice Cream Shop,Indian Restaurant,Irish Pub,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Juice Bar,Kebab Restaurant,Kitchen Supply Store,Korean Restaurant,Lake,Lebanese Restaurant,Locksmith,Malay Restaurant,Market,Martial Arts Dojo,Middle Eastern Restaurant,Modern European Restaurant,Movie Theater,Museum,Nightclub,Park,Pedestrian Plaza,Persian Restaurant,Pharmacy,Pier,Pizza Place,Platform,Playground,Plaza,Pool,Portuguese Restaurant,Pub,Public Art,Record Shop,Recreation Center,Restaurant,Rock Climbing Spot,Rock Club,Salad Place,Sandwich Place,Shopping Mall,Skate Park,Smoothie Shop,Spa,Sporting Goods Shop,Stationery Store,Steakhouse,Street Food Gathering,Supermarket,Sushi Restaurant,Szechuan Restaurant,Tapas Restaurant,Tennis Court,Thai Restaurant,Theater,Thrift / Vintage Store,Train Station,Tunnel,Turkish Restaurant,Vegetarian / Vegan Restaurant,Wine Shop,Women's Store
0,Newham,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Newham,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Newham,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Newham,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Newham,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [18]:
#Group rows by Borough
london_grouped = london_onehot.groupby('Borough').mean().reset_index()
print(london_grouped.shape)
london_grouped

(20, 123)

,Borough,American Restaurant,Art Gallery,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,Auto Garage,Auto Workshop,Bagel Shop,Bakery,Bar,Beer Bar,Bookstore,Breakfast Spot,Brewery,Building,Burger Joint,Burrito Place,Bus Station,Bus Stop,Café,Canal Lock,Caribbean Restaurant,Chinese Restaurant,Chocolate Shop,Clothing Store,Cocktail Bar,Coffee Shop,Concert Hall,Construction & Landscaping,Convenience Store,Cosmetics Shop,Deli / Bodega,Department Store,Dessert Shop,Diner,Doner Restaurant,Donut Shop,Electronics Store,Falafel Restaurant,Farmers Market,Fast Food Restaurant,Field,Fish & Chips Shop,Fish Market,Food & Drink Shop,Food Court,Food Truck,French Restaurant,Furniture / Home Store,Gastropub,Gift Shop,Go Kart Track,Greek Restaurant,Grocery Store,Gym,Gym / Fitness Center,Health Food Store,Hotel,Hotel Bar,Ice Cream Shop,Indian Restaurant,Irish Pub,Israeli Restaurant,Italian Restaurant,Japanese Restaurant,Juice Bar,Kebab Restaurant,Kitchen Supply Store,Korean Restaurant,Lake,Lebanese Restaurant,Locksmith,Malay Restaurant,Market,Martial Arts Dojo,Middle Eastern Restaurant,Modern European Restaurant,Movie Theater,Museum,Nightclub,Park,Pedestrian Plaza,Persian Restaurant,Pharmacy,Pier,Pizza Place,Platform,Playground,Plaza,Pool,Portuguese Restaurant,Pub,Public Art,Record Shop,Recreation Center,Restaurant,Rock Climbing Spot,Rock Club,Salad Place,Sandwich Place,Shopping Mall,Skate Park,Smoothie Shop,Spa,Sporting Goods Shop,Stationery Store,Steakhouse,Street Food Gathering,Supermarket,Sushi Restaurant,Szechuan Restaurant,Tapas Restaurant,Tennis Court,Thai Restaurant,Theater,Thrift / Vintage Store,Train Station,Tunnel,Turkish Restaurant,Vegetarian / Vegan Restaurant,Wine Shop,Women's Store
0,Barking and Dagenham,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.250000,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.0000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
1,Barnet,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.666667,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
2,Brent,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.142857,0.142857,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.142857,0.000000,0.142857,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.142857,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
3,Camden,0.037037,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.074074,0.000000,0.0000,0.037037,0.000000,0.000000,0.000000,0.037037,0.000000,0.000000,0.000000,0.074074,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.074074,0.000000,0.0,0.037037,0.0000,0.037037,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.037037,0.000000,0.000000,0.037037,0.000000,0.074074,0.0000,0.0,0.000000,0.037037,0.000000,0.037037,0.00,0.037037,0.000000,0.000000,0.000000,0.0000,0.037037,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.037037,0.000000,0.000000,0.0000,0.0,0.074074,0.0000,0.074074,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.037037,0.0,0.037037,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.037037,0.000000
4,Croydon,0.000000,0.0000,0.0000,0.017241,0.0000,0.000000,0.0,0.00,0.000000,0.017241,0.0000,0.051724,0.017241,0.017241,0.000000,0.017241,0.017241,0.017241,0.017241,0.017241,0.0,0.017241,0.000000,0.0000,0.086207,0.000000,0.172414,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.017241,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.017241,0.000000,0.000000,0.00,0.000000,0.017241,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.017241,0.000000,0.017241,0.017241,0.00,0.051724,0.000000,0.000000,0.017241,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.017241,0.000000,0.0,0.000000,0.017241,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.017241,0.000000,0.0000,0.0,0.000000,0.0000,0.017241,0.086207,0.000000,0.000000,0.000000,0.034483,0.051724,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.017241,0.0000,0.000000,0.0000,0.000000,0.000000,0.017241,0.0,0.000000,0.017241,0.034483,0.000000,0.000000,0.0,0.017241,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
5,Ealing,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.04,0.040000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.040000,0.000000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.080000,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.040000,0.04,0.000000,0.0000,0.0000,0.04,0.080000,0.000000,0.000000,0.04,0.000000,0.000000,0.000000,0.000000,0.040000,0.000000,0.0000,0.0,0.000000,0.080000,0.000000,0.000000,0.04,0.120000,0.000000,0.000000,0.040000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.040000,0.0000,0.0,0.040000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.080000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.040000,0.000000,0.0000,0.000000,0.040000,0.000000
6,Enfield,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.2,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.200000,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.0000,0.0000,0.0,0.200000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
7,Greenwich,0.000000,0.0000,0.0000,0.045455,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.045455,0.000000,0.000000,0.000000,0.000000,0.045455,0.045455,0.0,0.000000,0.090909,0.0000,0.000000,0.000000,0.045455,0.000000,0.0,0.045455,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.00,0.045455,0.000000,0.045455,0.000000,0.0000,0.000000,0.045455,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.045455,0.000000,0.045455,0.136364,0.0000,0.0,0.000000,0.0000,0.045455,0.000000,0.000000,0.000000,0.000000,0.045455,0.045455,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.045455,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.045455,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.045455,0.0000,0.000000,0.000000,0.000000
8,Harrow,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.032258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032258,0.0,0.000000,0.000000,0.0000,0.129032,0.000000,0.161290,0.000000,0.0,0.032258,0.0000,0.000000,0.032258,0.000000,0.000000,0.00,0.032258,0.0000,0.0000,0.00,0.032258,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.032258,0.000000,0.0000,0.0,0.000000,0.000000,0.064516,0.000000,0.00,0.032258,0.000000,0.000000,0.032258,0.0000,0.000000,0.032258,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.032258,0.000000,0.032258,0.000000,0.000000,0.000000,0.0000,0.0,0.032258,0.0000,0.064516,0.000000,0.000000,0.000000,0.000000,0.000000,0.032258,0.0000,0.0000,0.0,0.000000,0.032258,0.0000,0.000000,0.032258,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.032258,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.032258
9,Hillingdon,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.200000,0.0000,0.000000,0.000000,0.000000,0.000000,0.2,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
10,Hounslow,0.000000,0.0000,0.0000,0.000000,0.0000,0.166667,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.166667,0.000000,0.000000,0.00,0.166667,0.000000,0.000000,0.166667,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.0000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
11,Kingston Upon Thames,0.000000,0.0125,0.0125,0.000000,0.0000,0.000000,0.0,0.00,0.025000,0.012500,0.0125,0.037500,0.000000,0.000000,0.000000,0.012500,0.012500,0.000000,0.012500,0.075000,0.0,0.000000,0.012500,0.0125,0.050000,0.000000,0.087500,0.000000,0.0,0.012500,0.0125,0.000000,0.037500,0.012500,0.000000,0.00,0.012500,0.0125,0.0125,0.00,0.012500,0.000000,0.012500,0.00,0.000000,0.000000,0.000000,0.000000,0.012500,0.012500,0.0125,0.0,0.000000,0.000000,0.000000,0.025000,0.00,0.025000,0.000000,0.012500,0.012500,0.0125,0.000000,0.025000,0.025,0.000000,0.0125,0.0125,0.000000,0.000000,0.0,0.000000,0.000000,0.0125,0.0,0.000000,0.000000,0.000000,0.000000,0.012500,0.000000,0.0125,0.0,0.000000,0.0125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012500,0.0125,0.0125,0.0,0.000000,0.000000,0.0125,0.000000,0.012500,0.0125,0.000000,0.0125,0.000000,0.012500,0.012500,0.0,0.000000,0.025000,0.037500,0.000000,0.000000,0.0,0.025000,0.000000,0.000000,0.000000,0.000000,0.0125,0.000000,0.000000,0.012500
12,Merton,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.076923,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.076923,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.076923,0.00,0.000000,0.0000,0.0000,0.00,0.076923,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.230769,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.076923,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.076923,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.0000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.076923,0.000000,0.0000,0.000000,0.000000,0.000000
13,Newham,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285714,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.0,0.142857,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.142857,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.285714,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.0000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
14,Redbridge,0.000000,0.0000,0.0000,0.000000,0.0625,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.062500,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.062500,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.062500,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.062500,0.062500,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.125000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.062500,0.000000,0.000000,0.000000,0.000000,0.062500,0.0000,0.0,0.062500,0.0000,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000,0.062500,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.062500,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.125000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
15,Southwark,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.166667,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.166667,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.0000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.166667,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
16,Tower Hamlets,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.1,0.000000,0.000000,0.0000,0.000000,0.000000,0.100000,0.000000,0.0,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.1,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.1,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.0000,0.1,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.1,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.100000,0.0000,0.000000,0.000000,0.000000,0.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.100000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
17,Waltham Forest,0.000000,0.0000,0.0000,0.000000,0.0000,0.000000,0.0,0.00,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.133333,0.066667,0.0,0.000000,0.0000,0.066667,0.000000,0.000000,0.000000,0.00,0.000000,0.0000,0.0000,0.00,0.000000,0.066667,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.200000,0.066667,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000,0.000000,0.0000,0.0000,0.000000,0.000000,0.0,0.000000,0.000000,0.0000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0,0.000000,0.0000,0.066667,0.000000,0.000000,0.000000,0.066667,0.000000,0.133333,0.0000,0.0000,0.0,0.000000,0.000000,0.0000,0.000000,0.000000,0.0000,0.000000,0.0000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.066667,0.000000,0.000000,0.0000,0.066667,0.000000,0.000000

### Top 5 venues per borough

In [19]:
num_top_venues = 5

for hood in london_grouped['Borough']:
    print("----"+hood+"----")
    temp = london_grouped[london_grouped['Borough'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Barking and Dagenham----
                        venue  freq
0  Construction & Landscaping  0.50
1                        Lake  0.25
2                        Park  0.25
3         American Restaurant  0.00
4                      Museum  0.00


----Barnet----
                   venue  freq
0                   Café  0.67
1               Bus Stop  0.33
2    American Restaurant  0.00
3             Public Art  0.00
4  Portuguese Restaurant  0.00


----Brent----
                    venue  freq
0  Furniture / Home Store  0.14
1                Bus Stop  0.14
2                    Café  0.14
3             Supermarket  0.14
4              Food Truck  0.14


----Camden----
         venue  freq
0         Café  0.07
1  Pizza Place  0.07
2     Pharmacy  0.07
3       Bakery  0.07
4    Gastropub  0.07


----Croydon----
            venue  freq
0     Coffee Shop  0.17
1        Platform  0.09
2  Clothing Store  0.09
3           Hotel  0.05
4             Pub  0.05


----Ealing----
                  venue  freq
0                 Hotel  0.12
1  Fast Food Restaurant  0.08
2           Coffee Shop  0.08
3         Grocery Store  0.08
4           Supermarket  0.08


----Enfield----
           venue  freq
0   Tennis Court   0.2
1            Pub   0.2
2     Restaurant   0.2
3  Auto Workshop   0.2
4    Coffee Shop   0.2


----Greenwich----
                venue  freq
0                Park  0.14
1  Chinese Restaurant  0.09
2                Café  0.05
3             Brewery  0.05
4         Pizza Place  0.05


----Harrow----
            venue  freq
0     Coffee Shop  0.16
1  Clothing Store  0.13
2             Gym  0.06
3     Pizza Place  0.06
4   Women's Store  0.03


----Hillingdon----
                        venue  freq
0                Burger Joint   0.2
1  Construction & Landscaping   0.2
2          Chinese Restaurant   0.2
3              Breakfast Spot   0.2
4           Martial Arts Dojo   0.2


----Hounslow----
                       venue  freq
0  Middle Eastern Restaurant  0.17
1                Auto Garage  0.17
2              Grocery Store  0.17
3                      Hotel  0.17
4                Pizza Place  0.17


----Kingston Upon Thames----
              venue  freq
0       Coffee Shop  0.09
1              Café  0.08
2    Clothing Store  0.05
3         Bookstore  0.04
4  Department Store  0.04


----Merton----
           venue  freq
0  Grocery Store  0.23
1            Pub  0.08
2         Bakery  0.08
3           Café  0.08
4          Diner  0.08


----Newham----
               venue  freq
0      Grocery Store  0.29
1               Café  0.29
2  Convenience Store  0.14
3  Fish & Chips Shop  0.14
4               Park  0.14


----Redbridge----
                venue  freq
0         Supermarket  0.12
1   Indian Restaurant  0.12
2                 Pub  0.06
3                Café  0.06
4  Athletics & Sports  0.06


----Southwark----
      venue  freq
0       Pub  0.17
1      Café  0.17
2  Building  0.17
3      Park  0.17
4      Lake  0.17


----Tower Hamlets----
               venue  freq
0             Museum   0.1
1      Go Kart Track   0.1
2         Steakhouse   0.1
3  Recreation Center   0.1
4         Skate Park   0.1


----Waltham Forest----
                    venue  freq
0           Grocery Store  0.20
1                     Pub  0.13
2             Coffee Shop  0.13
3  Thrift / Vintage Store  0.07
4                   Field  0.07


----Wandsworth----
           venue  freq
0           Café  0.21
1            Pub  0.21
2  Grocery Store  0.14
3    Coffee Shop  0.14
4          Hotel  0.07


----Westminster----
              venue  freq
0       Coffee Shop  0.13
1             Hotel  0.11
2    Sandwich Place  0.09
3           Theater  0.05
4  Sushi Restaurant  0.05

In [20]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [21]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Borough']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
borough_venues_sorted = pd.DataFrame(columns=columns)
borough_venues_sorted['Borough'] = london_grouped['Borough']

for ind in np.arange(london_grouped.shape[0]):
    borough_venues_sorted.iloc[ind, 1:] = return_most_common_venues(london_grouped.iloc[ind, :], num_top_venues)

borough_venues_sorted

,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Barking and Dagenham,Construction & Landscaping,Lake,Park,Women's Store,Food & Drink Shop,Dessert Shop,Diner,Doner Restaurant,Donut Shop,Electronics Store
1,Barnet,Café,Bus Stop,Women's Store,Food & Drink Shop,Dessert Shop,Diner,Doner Restaurant,Donut Shop,Electronics Store,Falafel Restaurant
2,Brent,Middle Eastern Restaurant,Bus Station,Bus Stop,Café,Food Truck,Supermarket,Furniture / Home Store,Fish & Chips Shop,Field,Women's Store
3,Camden,Gastropub,Pharmacy,Bakery,Pizza Place,Coffee Shop,Café,American Restaurant,Burger Joint,Gym / Fitness Center,Wine Shop
4,Croydon,Coffee Shop,Clothing Store,Platform,Hotel,Bookstore,Pub,Portuguese Restaurant,Sushi Restaurant,Dessert Shop,Nightclub
5,Ealing,Hotel,Grocery Store,Fast Food Restaurant,Supermarket,Coffee Shop,Indian Restaurant,Bus Stop,Wine Shop,Furniture / Home Store,Fish Market
6,Enfield,Restaurant,Pub,Coffee Shop,Auto Workshop,Tennis Court,Donut Shop,Fast Food Restaurant,Farmers Market,Falafel Restaurant,Electronics Store
7,Greenwich,Park,Chinese Restaurant,Nightclub,Hotel,Café,Bus Stop,Spa,Pub,Brewery,Portuguese Restaurant
8,Harrow,Coffee Shop,Clothing Store,Gym,Pizza Place,Women's Store,Pub,Pharmacy,Movie Theater,Middle Eastern Restaurant,Italian Restaurant
9,Hillingdon,Burger Joint,Chinese Restaurant,Martial Arts Dojo,Construction & Landscaping,Breakfast Spot,Fish Market,Fish & Chips Shop,Field,Fast Food Restaurant,Farmers Market
10,Hounslow,Indian Restaurant,Hotel,Pizza Place,Auto Garage,Grocery Store,Middle Eastern Restaurant,Falafel Restaurant,Fish & Chips Shop,Field,Fast Food Restaurant
11,Kingston Upon Thames,Coffee Shop,Café,Clothing Store,Sushi Restaurant,Department Store,Bookstore,Bakery,Japanese Restaurant,Italian Restaurant,Thai Restaurant
12,Merton,Grocery Store,Indian Restaurant,Café,Diner,Pub,Train Station,Fast Food Restaurant,Coffee Shop,Locksmith,Bakery
13,Newham,Grocery Store,Café,Convenience Store,Park,Fish & Chips Shop,Fish Market,Department Store,Dessert Shop,Diner,Doner Restaurant
14,Redbridge,Indian Restaurant,Supermarket,Pharmacy,Pub,Coffee Shop,Park,Sandwich Place,Café,Middle Eastern Restaurant,Fast Food Restaurant
15,Southwark,Park,Building,Pub,Skate Park,Café,Lake,Falafel Restaurant,Fast Food Restaurant,Farmers Market,Women's Store
16,Tower Hamlets,Canal Lock,Coffee Shop,Go Kart Track,Thrift / Vintage Store,Persian Restaurant,Steakhouse,Skate Park,Recreation Center,Lebanese Restaurant,Museum
17,Waltham Forest,Grocery Store,Coffee Shop,Pub,Thrift / Vintage Store,Deli / Bodega,Pizza Place,Concert Hall,Gym,Pool,Vegetarian / Vegan Restaurant
18,Wandsworth,Café,Pub,Grocery Store,Coffee Shop,Indian Restaurant,Park,Pizza Place,Hotel,Bagel Shop,Food & Drink Shop
19,Westminster,Coffee Shop,Hotel,Sandwich Place,Sushi Restaurant,Theater,Pub,Café,Juice Bar,Sporting Goods Shop,Indian Restaurant

## Cluster Boroughs

In [83]:
# set number of clusters
kclusters = 5

london_grouped_clustering = london_grouped.drop('Borough', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(london_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([1, 2, 3, 3, 3, 3, 3, 3, 3, 4], dtype=int32)

In [84]:
#New DF to cluster populations and venues
london_merged = London_df.merge(borough_venues_sorted, how='inner', left_on='London Borough', right_on='Borough')
london_merged['Cluster Labels'] = kmeans.labels_
london_merged.head()

,Rank,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population,Cluster Labels,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,1,Newham,42484,30307,37262,3930,19912,133895,1,Newham,Grocery Store,Café,Convenience Store,Park,Fish & Chips Shop,Fish Market,Department Store,Dessert Shop,Diner,Doner Restaurant
1,2,Redbridge,45660,31051,16011,3000,20781,116503,2,Redbridge,Indian Restaurant,Supermarket,Pharmacy,Pub,Coffee Shop,Park,Sandwich Place,Café,Middle Eastern Restaurant,Fast Food Restaurant
2,3,Brent,58017,14381,1749,3250,28589,105986,3,Brent,Middle Eastern Restaurant,Bus Station,Bus Stop,Café,Food Truck,Supermarket,Furniture / Home Store,Fish & Chips Shop,Field,Women's Store
3,4,Tower Hamlets,6787,2442,81377,8109,5786,104501,3,Tower Hamlets,Canal Lock,Coffee Shop,Go Kart Track,Thrift / Vintage Store,Persian Restaurant,Steakhouse,Skate Park,Recreation Center,Lebanese Restaurant,Museum
4,5,Harrow,63051,7797,1378,2629,26953,101808,3,Harrow,Coffee Shop,Clothing Store,Gym,Pizza Place,Women's Store,Pub,Pharmacy,Movie Theater,Middle Eastern Restaurant,Italian Restaurant

In [85]:
#Add coordinates
london_merged[['Latitude', 'Longitude']] = borough_df[['Latitude', 'Longitude']]
london_merged['Latitude'] = london_merged['Latitude'].astype(float)
london_merged['Longitude'] = london_merged['Longitude'].astype(float)
london_merged.head()

,Rank,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population,Cluster Labels,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,Latitude,Longitude
0,1,Newham,42484,30307,37262,3930,19912,133895,1,Newham,Grocery Store,Café,Convenience Store,Park,Fish & Chips Shop,Fish Market,Department Store,Dessert Shop,Diner,Doner Restaurant,51.5255,0.0352
1,2,Redbridge,45660,31051,16011,3000,20781,116503,2,Redbridge,Indian Restaurant,Supermarket,Pharmacy,Pub,Coffee Shop,Park,Sandwich Place,Café,Middle Eastern Restaurant,Fast Food Restaurant,51.5901,0.0819
2,3,Brent,58017,14381,1749,3250,28589,105986,3,Brent,Middle Eastern Restaurant,Bus Station,Bus Stop,Café,Food Truck,Supermarket,Furniture / Home Store,Fish & Chips Shop,Field,Women's Store,51.5673,-0.2711
3,4,Tower Hamlets,6787,2442,81377,8109,5786,104501,3,Tower Hamlets,Canal Lock,Coffee Shop,Go Kart Track,Thrift / Vintage Store,Persian Restaurant,Steakhouse,Skate Park,Recreation Center,Lebanese Restaurant,Museum,51.5203,-0.0293
4,5,Harrow,63051,7797,1378,2629,26953,101808,3,Harrow,Coffee Shop,Clothing Store,Gym,Pizza Place,Women's Store,Pub,Pharmacy,Movie Theater,Middle Eastern Restaurant,Italian Restaurant,51.5806,-0.3420

In [86]:
#Visualise clusters
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)


x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]


markers_colors = []
for lat, lon, poi, cluster in zip(london_merged['Latitude'], london_merged['Longitude'], london_merged['Borough'], london_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

## Examine Clusters

### Cluster 1

In [87]:
london_merged.loc[london_merged['Cluster Labels'] == 0, london_merged.columns[[0] + list(range(1, london_merged.shape[1]))]].sort_values(by = ['Chinese Population'], ascending = False)

,Rank,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population,Cluster Labels,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,Latitude,Longitude
18,19,Southwark,5819,1623,3912,8074,7764,27192,0,Southwark,Park,Building,Pub,Skate Park,Café,Lake,Falafel Restaurant,Fast Food Restaurant,Farmers Market,Women's Store,51.4834,-0.0821
12,13,Camden,6083,1489,12503,6493,8878,35446,0,Camden,Gastropub,Pharmacy,Bakery,Pizza Place,Coffee Shop,Café,American Restaurant,Burger Joint,Gym / Fitness Center,Wine Shop,51.5517,-0.1588
13,14,Enfield,11648,2594,5599,2588,12464,34893,0,Enfield,Restaurant,Pub,Coffee Shop,Auto Workshop,Tennis Court,Donut Shop,Fast Food Restaurant,Farmers Market,Falafel Restaurant,Electronics Store,51.6636,-0.1043
17,18,Barking and Dagenham,7436,8007,7701,1315,5135,29594,0,Barking and Dagenham,Construction & Landscaping,Lake,Park,Women's Store,Food & Drink Shop,Dessert Shop,Diner,Doner Restaurant,Donut Shop,Electronics Store,51.5465,0.1293

### Cluster 2

In [88]:
london_merged.loc[london_merged['Cluster Labels'] == 1, london_merged.columns[[0] + list(range(1, london_merged.shape[1]))]].sort_values(by = ['Chinese Population'], ascending = False)

,Rank,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population,Cluster Labels,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,Latitude,Longitude
0,1,Newham,42484,30307,37262,3930,19912,133895,1,Newham,Grocery Store,Café,Convenience Store,Park,Fish & Chips Shop,Fish Market,Department Store,Dessert Shop,Diner,Doner Restaurant,51.5255,0.0352

### Cluster 3

In [89]:
london_merged.loc[london_merged['Cluster Labels'] == 2, london_merged.columns[[0] + list(range(1, london_merged.shape[1]))]].sort_values(by = ['Chinese Population'], ascending = False)

,Rank,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population,Cluster Labels,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,Latitude,Longitude
1,2,Redbridge,45660,31051,16011,3000,20781,116503,2,Redbridge,Indian Restaurant,Supermarket,Pharmacy,Pub,Coffee Shop,Park,Sandwich Place,Café,Middle Eastern Restaurant,Fast Food Restaurant,51.5901,0.0819

### Cluster 4

In [90]:
london_merged.loc[london_merged['Cluster Labels'] == 3, london_merged.columns[[0] + list(range(1, london_merged.shape[1]))]].sort_values(by = ['Chinese Population'], ascending = False)

,Rank,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population,Cluster Labels,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,Latitude,Longitude
8,9,Barnet,27920,5344,2215,8259,22180,65918,3,Barnet,Café,Bus Stop,Women's Store,Food & Drink Shop,Dessert Shop,Diner,Doner Restaurant,Donut Shop,Electronics Store,Falafel Restaurant,51.6251,-0.1529
3,4,Tower Hamlets,6787,2442,81377,8109,5786,104501,3,Tower Hamlets,Canal Lock,Coffee Shop,Go Kart Track,Thrift / Vintage Store,Persian Restaurant,Steakhouse,Skate Park,Recreation Center,Lebanese Restaurant,Museum,51.5203,-0.0293
15,16,Westminster,7213,2328,6299,5917,10105,31862,3,Westminster,Coffee Shop,Hotel,Sandwich Place,Sushi Restaurant,Theater,Pub,Café,Juice Bar,Sporting Goods Shop,Indian Restaurant,51.4975,-0.1357
16,17,Greenwich,7836,2594,1645,5061,12758,29894,3,Greenwich,Park,Chinese Restaurant,Nightclub,Hotel,Café,Bus Stop,Spa,Pub,Brewery,Portuguese Restaurant,51.4934,0.0098
5,6,Ealing,48240,14711,1786,4132,31570,100439,3,Ealing,Hotel,Grocery Store,Fast Food Restaurant,Supermarket,Coffee Shop,Indian Restaurant,Bus Stop,Wine Shop,Furniture / Home Store,Fish Market,51.5131,-0.3256
14,15,Wandsworth,8642,9718,1493,3715,9770,33338,3,Wandsworth,Café,Pub,Grocery Store,Coffee Shop,Indian Restaurant,Park,Pizza Place,Hotel,Bagel Shop,Food & Drink Shop,51.4571,-0.1818
2,3,Brent,58017,14381,1749,3250,28589,105986,3,Brent,Middle Eastern Restaurant,Bus Station,Bus Stop,Café,Food Truck,Supermarket,Furniture / Home Store,Fish & Chips Shop,Field,Women's Store,51.5673,-0.2711
7,8,Hillingdon,36795,9200,2639,2889,17730,69253,3,Hillingdon,Burger Joint,Chinese Restaurant,Martial Arts Dojo,Construction & Landscaping,Breakfast Spot,Fish Market,Fish & Chips Shop,Field,Fast Food Restaurant,Farmers Market,51.5352,-0.4481
19,20,Kingston Upon Thames,6325,3009,892,2883,13043,26152,3,Kingston Upon Thames,Coffee Shop,Café,Clothing Store,Sushi Restaurant,Department Store,Bookstore,Bakery,Japanese Restaurant,Italian Restaurant,Thai Restaurant,51.4123,-0.3007
4,5,Harrow,63051,7797,1378,2629,26953,101808,3,Harrow,Coffee Shop,Clothing Store,Gym,Pizza Place,Women's Store,Pub,Pharmacy,Movie Theater,Middle Eastern Restaurant,Italian Restaurant,51.5806,-0.3420
11,12,Merton,8106,7337,2216,2618,15866,36143,3,Merton,Grocery Store,Indian Restaurant,Café,Diner,Pub,Train Station,Fast Food Restaurant,Coffee Shop,Locksmith,Bakery,51.4098,-0.2108
10,11,Waltham Forest,9134,26347,4632,2579,11697,54389,3,Waltham Forest,Grocery Store,Coffee Shop,Pub,Thrift / Vintage Store,Deli / Bodega,Pizza Place,Concert Hall,Gym,Pool,Vegetarian / Vegan Restaurant,51.5886,-0.0118
6,7,Hounslow,48161,13676,2189,2405,20826,87257,3,Hounslow,Indian Restaurant,Hotel,Pizza Place,Auto Garage,Grocery Store,Middle Eastern Restaurant,Falafel Restaurant,Fish & Chips Shop,Field,Fast Food Restaurant,51.4609,-0.3731

### Cluster 5

In [91]:
london_merged.loc[london_merged['Cluster Labels'] == 4, london_merged.columns[[0] + list(range(1, london_merged.shape[1]))]].sort_values(by = ['Chinese Population'], ascending = False)

,Rank,London Borough,Indian Population,Pakistani Population,Bangladeshi Population,Chinese Population,Other Asian Population,Total Asian Population,Cluster Labels,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,Latitude,Longitude
9,10,Croydon,24660,10865,2570,3925,17607,59627,4,Croydon,Coffee Shop,Clothing Store,Platform,Hotel,Bookstore,Pub,Portuguese Restaurant,Sushi Restaurant,Dessert Shop,Nightclub,51.3762,-0.0982